.h4__text-correct {
    padding: 0 25px
}

.container{
    max-width: 100%;
    padding: 0;
    overflow-y: hidden;
}
.jumbotron {
    padding: 2rem;
    margin-bottom: 0;
}

.navbar-arrow {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    background-color: green;
    border-radius: 10%;
    transition: all 0.3s;
    width: 80px;
    height: 40px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
}
.filter {
    padding: 20px 15px;
}

.movies-list {
    margin: 0;
}
.movies__bg-image {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    max-height: 500px;
}
.movies__bg-gradient{
    background-image: linear-gradient(to right, rgb(14, 14, 13) 150px, rgba(20, 20, 19, 0.863) 100%);
    background-size: cover;
    padding: 0;
    margin: 0;
    max-height: 500px;
}
.movies__poster-full{
    display: block;
    max-height: 80%;
    align-self: center;
    border-radius: 15%;
}
.movies__poster-min{
    height: 360px;
    max-width: 240px;
}
.movies__title-name {
    max-width: 242px;
    margin: auto
}
.movie {
    height: 400px;
    margin: 25px 0;
    text-align: center;
}

.movie__vote {
    position: absolute;
    width: 100%;
    right: 90px;
    bottom: 50px;
    z-index: 1;
}
.vote__text{
    width: 50px;
    margin: 0 auto;
    background-color:rgba(44, 44, 44, 0.671);
    border: solid 1px white;
    border-radius: 40%;
}

.container-toggle {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 60px;
    height: 40px;
    border-radius: 100px;
    background-color: #ddd;
    margin: -20px -40px;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
  }
.toggle__check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}
.toggle__switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.toggle__track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
    border-radius: 40px;
}
.toggle__check:checked ~ .toggle__switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}
.toggle__check:checked ~ .toggle__track {
    box-shadow: inset 0 0 0 20px #4bd863;
}
.toggle__check ~ .toggle__track {
    box-shadow: inset 0 0 0 20px #d84b4b;
}

.spinner {
    margin: 0 auto;
    width:  100px;
    height: 100px;
    border: 10px solid;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: #aaaaaa;
    border-right-color: #555;
    border-bottom-color: #000;
    animation: spin 500ms infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg)}
}